
.card{
    background-color: #eebb99;
    width: 270px;
    height: 345px;
    border-radius: 5px;
    border: 1px  #127997;
}

.card:hover{
  border: 1px solid orange;
}

.card > img{
    width: 250px;
    height: 150px;
    padding: 10px 0px;
    margin: 10px;
}

.card > .card__text{
    width: 240px;
    padding: 10px;
}

.card > .card__text > h1{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.card > .card__text > p{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}